.contact-link {
    background-color: #737373; 
 }

main {
    display: flex;
    justify-content: space-around;
}


.side-bar {
    width: 50%;
}

article {
    margin-left: 1em;
}

article h1 {
    margin-bottom: 1rem;
}

article img {
    width: 100%;
}

.schedule {
    padding: 1rem;
    border: 1px solid white;
}

.rex {
    margin-bottom: 2rem;
    box-shadow: 5px 10px 8px 10px #8a0303;
}

/* Social Media Links */

.social-media-links {
    margin-top: 2em;
}

.social-media-links a {
    text-decoration: none;
}

.social-media-links ul {
    list-style: none;
}


.end {
    display: flex;
}

.contact-info {
    width: 50%;
}

.kiddie-cocoa {
    width: 50%;
}

.instagram:hover {
  background: -webkit-linear-gradient(rgb(64,93,230), #ffdc80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook:hover {
    color: #4267B2;
}

.google-mapshover {
    background: -webkit-linear-gradient(#c3ecb2, #aadaff, #f6cf65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.pug-image {
    display: none;
    width: 100%;
}