/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic); */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Indie Flower, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #CE212E;
    color: rgb(224, 222, 222);
    letter-spacing: 3px;
    font-size: 1.5em;
    position: relative;
    min-height: 100%;



    /* Fade In Animation */
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.nav-links {
    display: none;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

a {
    color: inherit;
}

.container {
    /* background-color: white; */
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}


/* Header Stuff */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}


header a:hover {
    color: rgb(177, 177, 177);
}

.logo-link {
    width: 100%;
    display: flex;
    align-items: center;
}

.brand a {
    text-decoration: none;
}

.brand-name {
    font-size: 2em;
    margin-left: 1rem;
}

.main-nav {
    font-size: 1.4rem;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-nav li {
    margin-left: 2em;
    border-radius: 25%;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.hamburger-icon {
    display: none;
}

.hamburger-icon div {
    width: 30px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.hover-effect {
    border-radius: 10%;
}

.hover-effect:hover {
    /* border-radius: 10%; */
    width: 100%;
    color: white;
}

.hover-effect {
    padding: 5px;
}

.home-link:hover {
   background-color: #FA4B86;
}

.home-link:active {
    /* background-color: #A5E21B; */
}

.floating:hover {  
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

/* .home-link:hover {
    background-color: #A5E21B; 
 } */

.story-link:hover {
    background-color: #A5E21B; 
 }

 .mission-link:hover {
    background-color: #35BEF4; 
 }

 .store-link:hover {
    background-color: #FF3543; 
 }

 .event-link:hover {
    background-color: #FFA523; 
 }

 .contact-link:hover {
    background-color: #737373; 
 }
 
 

main {
    margin: 2em auto;
}

.message {
    width: 50%;
}

/* Footer stuff */

footer {
    background-color: #b71c1c;
}

footer a {
    text-decoration: none;
}

.legal-stuff ul{
    /* background-color: #A5E21B; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.legal-stuff a {
    /* margin: 0 2rem; */
}

/* Social Media Links */

/* .legal-stuff {
    background-color: #35BEF4;
    display: flex;
    width: 100%;
}

.legal-stuff a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.legal-stuff ul {
    list-style: none;
    width: 100%;
}

.legal-stuff li {
    margin: 0 3em;
    margin-bottom: 1rem;
}

.legal-stuff a:hover {
    color: #65a879;
} */

/* Media Queries */


@media screen and (max-width: 1000px) {

    .motto h1{
        font-size: 1em;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
    }

    .hamburger-icon div:hover {
        background-color: #35BEF4;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .legal-stuff a {
        font-size: 0.5em;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 12vh;
        background-color: rgb(179, 22, 22);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }

    body {
        overflow-x: hidden;
        /* overflow-y: hidden; */
    }

    .nav-links li {
        opacity: 0;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(50deg) translate(-5px, -6px);
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}



@media screen and (max-width: 667px) {
    .brand-name {
        font-size: 1em;
    }
}

